* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: "Roboto", sans-serif;
}

.navbar-container {
    width: 70vw;
    margin: 0 auto;
    padding: 5px;
    display: flex;
}

.logo-container {
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 5px;

}

.logo {
    width: 70px;
    height: 70px;
}

.menu-container {
    flex: 3;
    display: flex;
    align-items: center;
}

.navlist-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.list-item {
    list-style: none;
    margin-right: 30px;
    color: gray;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.list-item.active {
    color: black;
}

.list-item:hover {
    color: black;
}

.subscribe-btn {
    width: 50%;
    height: 35px;
    border-radius: 7px;
    border-style: none;
    outline-style: none;
    background-color: black;
    color: white;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.subscribe-btn:hover {
    transform: scale(1.1);

}

.book-list-container {
    width: 70vw;
    margin: 20px auto;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 25px;
    background-color: rgba(175, 175, 172, 0.197);
    border-radius: 10px;

}

.books-card {
    width: 27%;
    position: relative;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 10px;
    border-radius: 8px;
    overflow: hidden;

}



.book-image {
    width: 100%;
    height: 560px;
    object-fit: contain;
    border-radius: 16px;
}

.book-info-container {
    width: 60%;
    height: 100%;
}

.book-info {
    position: relative;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    transition: all 0.5s ease-in-out;
    color: rgb(0, 0, 0);
    padding: 16px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 5px;
}

.book-info h1 {
    font-family: "Patrick Hand SC", serif;
    font-size: 30px;
    text-align: center;
}

.book-info2 {
    background-color: rgb(255, 255, 255);
    opacity: 1;
    transition: all 0.5s ease-in-out;
    color: rgb(0, 0, 0);
    padding: 16px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 5px;
}

.book-info2 h1 {
    font-family: "Patrick Hand SC", serif;
    font-size: 30px;
    text-align: center;
}



.book-id {
    background-color: black;
    display: inline;
    padding: 3px 5px;
    border-radius: 2px;
    font-size: 8px;
    font-weight: 700;
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
}

.book-author {
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    text-align: center;
}

.book-genre {
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

.author-date {
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

.btn-group {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.view-btn {
    background-color: black;
    border: 1px solid black;
    outline: none;
    padding: 4px 6px;
    border-radius: 3px;
    font-size: 11px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    color: white;
}

.cart-btn {
    width: 25%;
    background-color: white;
    border: 1px solid black;
    outline: none;
    padding: 9px 6px;
    border-radius: 3px;
    font-size: 13px;
    cursor: pointer;
}

.view-btn:hover{
    background-color: white;
    color: black;
    transition: all 0.5s ease-in-out;
}
.cart-btn:hover {
    background-color: black;
    color: white;
    transition: all 0.5s ease-in-out;
}

.fa-heart {
    color: rgba(255, 0, 0, 0.859);
    mix-blend-mode: normal;
    font-size: 14px;
    margin-left: 3px;
    transition: all 0.5s ease-in-out;
}
.fa-heart-crack {
    color: rgba(255, 0, 0, 0.806);
    mix-blend-mode: normal;
    font-size: 15px;
    margin-left: 10px;
    transition: all 0.5s ease-in-out;
}

.subject-group, .bookshelf-group, .download-details{
    margin: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.subject-name{
    background-color: black;
    border: 1px solid black;
    outline: none;
    padding: 4px 6px;
    border-radius: 3px;
    font-size: 11px;
  
    transition: all 0.5s ease-in-out;
    color: white;
    min-width: 100px;
    text-align: center;
    font-style: normal;
}
.bookshelf-name{
    background-color: white;
    border: 1px solid black;
    outline: none;
    padding: 4px 6px;
    border-radius: 3px;
    font-size: 11px;
    min-width: 100px;
  
}

.fa-download{
    font-size: 12px;
    color: rgb(0, 0, 0);
}

.loader-main-container {
    width: 70vw;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.loader-container {
    width: 30px;
    height: 30px;
    background: linear-gradient(rgba(17, 16, 16, 0.732), rgb(0, 0, 0));
    border-radius: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 3px dashed black;
    animation: rotate 3s linear infinite;
}

.loader {
    width: 80%;
    height: 80%;
    border-radius: 100%;
    background-color: white;
    border: 2px dashed black;
    animation: rotate2 2s linear infinite;
}

.please-text {
    font-size: 16px;
    font-weight: 400;
    animation: warningText 2s ease-in-out infinite;
    color: rgb(77, 17, 17);
}


/* .fa-heart:hover{
  color: red;
} */

/* ===================this is keyframe for our loader component =========== */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate2 {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

/* ===================this is keyframe for our books component =========== */
@keyframes books {
    from {
        transform: scale(0.8)
    }

    to {
        transform: scale(1.0);
    }
}

@keyframes warningText {
    from {
        transform: scale(0.8)
    }

    to {
        transform: scale(1.2);
    }
}