* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: "Roboto", sans-serif;
}

.navbar-container {
    width: 70vw;
    margin: 0 auto;
    padding: 5px;
    display: flex;
}

.logo-container {
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 5px;

}

.logo {
    width: 70px;
    height: 70px;
}

.menu-container {
    flex: 3;
    display: flex;
    align-items: center;
}

.navlist-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.list-item {
    list-style: none;
    margin-right: 30px;
    color: gray;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.list-item.active {
    color: black;
}

.list-item:hover {
    color: black;
}

.subscribe-btn {
    width: 50%;
    height: 35px;
    border-radius: 7px;
    border-style: none;
    outline-style: none;
    background-color: black;
    color: white;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.subscribe-btn:hover {
    transform: scale(1.1);

}

.hero-container {
    width: 70vw;
    margin: 20px auto;
    padding: 5px;
    background-color: rgba(175, 175, 172, 0.099);
    border-radius: 10px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-container {
    text-align: center;
}

.title-container h1 {
    font-family: "Patrick Hand SC", serif;
    font-size: 50px;
    margin-top: 30px;
}

.title-container p {
    font-size: 16px;
    margin-top: 10px;
    width: 70%;
    margin: 16px auto 0px;
}

.search-main-container {
    width: 80%;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    margin: 30px auto 40px auto;
}

.search-container {
    width: 25%;
    position: relative;
}

.dropdown-container {
    width: 25%;
    position: relative;
    background-color: black;
    border-radius: 7px;
    padding: 7px;
    cursor: pointer;
}

.fa-magnifying-glass {
    position: absolute;
    right: -7px;
    top: 8px;
    color: gray;
}

.fa-caret-down {
    position: absolute;
    right: 10px;
    top: 8px;
    color: white;
}

.search-input {
    width: 100%;
    border-radius: 7px;
    border: 1.5px solid black;
    padding: 7px;
}

.dropdown-text {
    color: white;
    font-weight: 400;
    font-size: 13px;
}

.book-list-container {
    width: 70vw;
    margin: 20px auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.books-card {
    width: 31%;
    position: relative;
    transition: all 0.7s ease-in-out;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 8px;

    border: 1px solid black;
}

.books-card:hover {
    transform: scale(1.1);
    z-index: 20;

}

.book-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
    mix-blend-mode: luminosity;
    border-radius: 8px;
}


.books-card:hover .book-image{
    mix-blend-mode: normal;
    opacity: 0.9;
}

.books-card:hover .book-info {
    transform: translateY(43px);
    opacity: 1;
}

.book-info {
    width: 180px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    transition: all 0.5s ease-in-out;
    color: rgb(0, 0, 0);
    padding: 16px;
    border-radius: 10px;
    overflow: hidden;
}
.book-info2 {
    width: 180px;
    position: absolute;
    background-color: rgb(200, 13, 13);
    opacity: 1;
    transition: all 0.5s ease-in-out;
    color: rgb(0, 0, 0);
    padding: 16px;
    border-radius: 10px;
    overflow: hidden;
}

.book-info h1{
    font-family: "Patrick Hand SC", serif;
    font-size: 24px;
    text-align: center;
    line-height: 20px;
}


.book-id{
    background-color: black;
    display: inline;
    padding: 3px 5px;
    border-radius: 2px;
    font-size: 8px;
    font-weight: 700;
    color:white;
    position: absolute;
    top: 0px;
    left: 0px;
}

.book-author{
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    text-align: center;
}

.book-genre{
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}
.author-date{
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

.btn-group{
  
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.view-btn{
    background-color: white;
    border: 1px solid black;
    outline: none;
    padding: 4px 6px;
    border-radius: 3px;
    font-size: 11px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.cart-btn{
    background-color: white;
    border: 1px solid black;
    outline: none;
    padding: 4px 6px;
    border-radius: 3px;
    font-size: 11px;
    cursor: pointer;

}

.view-btn:hover, .cart-btn:hover{
    background-color: black;
    color: white;
    transition: all 0.5s ease-in-out;
}

.fa-heart{
    color: rgba(73, 69, 69, 0.841);
    mix-blend-mode: normal;
    font-size: 18px;
    margin-left: 10px;
    transition: all 0.5s ease-in-out;
}

/* .fa-heart:hover{
  color: red;
} */
